@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
}

/* FORMULÁRIO */

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: white;
    padding: 35px;
    margin: auto;
    border-radius: 12px;
    width: 900px;
    max-height: 100vh;
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

form h1 {
    text-align: center;
    color: #2a5298;
    margin-bottom: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

form label {
    font-size: 14px;
    margin: 0 0 5px 7px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #2a5298;
}

.numberSolicitation {
    display: flex;
    margin-left: auto;
    width: 200px;
}

.dateHourSolicitation {
    margin-left: auto;
    width: 200px;
}

.mainInformation {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
}

.mainContact {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
}

.informationEnterprise {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 20px;
}

.input-Resquest {
    height: 130px;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    resize: none;           /* impede redimensionar */
    overflow: hidden;       /* remove scroll */
    white-space: pre-wrap;  /* quebra linha automática */
    word-wrap: break-word;  /* quebra palavras longas */
    outline: none;
    vertical-align: top;
    border-radius: 8px; 
}

/* Linha dupla (Data e Hora) */
.dateContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: #ccc solid 1px;
    border-radius: 8px;
    margin: 15px 0;
    background-color:#2a5298;
}

.dateHour {
    display: flex;
    align-items: center;
    margin: 20px;
}

.dateHour label {
    color: aliceblue;
    width: 150px;
    margin: 0 0 5px 5px;
}

.dateHour input {
    width: 150px;
}

/* Passageiros e Paradas */
.passengers {
    display: block;
    gap: 10px;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.localOrigin {
    display: block;
    gap: 10px;
    align-items: center;
}

.passengers input,
.localOrigin input,
.localDestination input {
    width: 94%;
}

/* Botão adicionar + */
.passengers button,
.localOrigin button {
    margin: 0 0 0 10px;
    font-size: 15px;
    width: 40px;
    text-align: center;
    padding: 10px 10px;
    border: none;
    background: #2a5298;
    color:#fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.passengers button:hover,
.localOrigin button:hover {
    background: #1e3c72;
    transform: translateY(-2px);
}

.driverInformation {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border: #ccc 1px solid;
    border-radius: 8px;
}

.driverInformation button {
    margin: 20px;
    padding: 20px 20px;
    border: none;
    background: #2a5298;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.driverInformation button:hover {
    background: #1e3c72;
    transform: translateY(-2px);
}
    
.moreInformationSection {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.moreInformationSection > div > input {
    height: 40px;
}

.moreInformation > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Botões finais */

.bottonsForm {
    display: flex;
    gap: 40px;
    justify-content: center;
}

form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
    padding: 12px;
    border: none;
    background: #2a5298;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 20%;
}

form input[type="button"]:hover {
    background: #1b3057;
    transform: translateY(-2px);
}

form input[type="reset"]:hover {
    background: #e71b1b;
    transform: translateY(-2px);
}

form input[type="submit"]:hover {
    background: #20ac27;
    transform: translateY(-2px);
}
