@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
}

/* FORMULÁRIO */

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: white;
    padding: 35px;
    margin: auto;
    border-radius: 12px;
    width: 900px;
    max-height: 100vh;
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

form h1 {
    text-align: center;
    color: #2a5298;
    margin-bottom: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0;
}

form label {
    font-size: 14px;
    margin: 0 0 5px 7px;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #2a5298;
}

/* Numero da Solicitação */
.numberSolicitation {
    display: flex;
    margin-left: auto;
    width: 200px;
}

/* Data e hora da Solicitação */
.dateHourSolicitation {
    margin-left: auto;
    width: 200px;
}

/* Informações do Solicitante */
.mainInformation {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
}

.mainContact {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
}

/* Informações da empresa */
.informationEnterprise {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 20px;
}

/* Motivo do Transporte */
.input-Resquest {
    height: 130px;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    resize: none;           /* impede redimensionar */
    overflow: hidden;       /* remove scroll */
    white-space: pre-wrap;  /* quebra linha automática */
    word-wrap: break-word;  /* quebra palavras longas */
    outline: none;
    vertical-align: top;
    border-radius: 8px; 
}

/* Passageiros e Paradas */
.passengers {
    display: block;
    gap: 10px;
    align-items: center;
}

/* Seção de (Data e Hora) do transporte */
.dateContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: #ccc solid 1px;
    border-radius: 8px;
    margin: 15px 0;
    background-color:#2a5298;
}

.dateHour {
    display: flex;
    align-items: center;
    margin: 20px;
}

.dateHour label {
    color: aliceblue;
    width: 150px;
    margin: 0 0 5px 5px;
}

.dateHour input {
    width: 150px;
}

/* Seção de Localização do transporte */
.localOrigin {
    display: block;
    gap: 10px;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.passengers input,
.localOrigin input,
.localDestination input {
    width: 94%;
}

/* Botão adicionar + */
.passengers button,
.localOrigin button {
    margin: 0 0 0 10px;
    font-size: 15px;
    width: 40px;
    text-align: center;
    padding: 10px 10px;
    border: none;
    background: #2a5298;
    color:#fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.add-Button:hover {
    background: #20ac27;
    transform: translateY(-2px);
}

.remove-button:hover {
    background: #e71b1b;
}

/* ====================================== */
/* Seção de motorista do transporte */
.sectionDriver {
    display: flex;
    align-items: center;
    border: #ccc 1px solid;
    border-radius: 8px;
    gap: 300px;
}
.driverInformation {
    flex: 1;
}

.driverInformation .box-1, .box-2 {
    display: flex;
    margin: 0 20px;
}

.driverInformation label {
    display: flex;
    max-width: 205px;
    flex-direction: row;
    margin: 10px 0;
    padding: 20px 0 20px 20px;
    border: none;
    background: #2a5298;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.driverInformation input[type="radio"] {
    max-width: 20px;
    opacity: 0;
    margin: auto 0;
    height: 15px;
    border: none;
    background: #2a5298;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    
}

.driverInformation input[type="radio"]:hover, 
.driverInformation label:hover {
    background: #1e3c72;
    transform: translateY(-2px);
}

.driverInformation label:has(input[type="radio"]:checked) {
    background: #28a745;
}

/* ====================================== */
/*Modal de MOTORISTAS INTERNAS E EXTERNAS */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Modal Header */
.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-header h2 {
    width: 90%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* Botão fechar */
.close-btn {
    background: none;
    border: none;
    font-size: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
    height: 10px;
}

.close-btn:hover {
    opacity: 1;
    transform: scale(1.1);
}

.modal-body input {
    width: 98%;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    transition: 0.2s;
    font-size: 14px;
}

.modal-body input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79,70,229,0.15);
}

/* File update */
.file-upload span {
    margin: 0 0 0 10px;
}

.file-upload input {
    width: 98%;
    margin: 5px 0 0 0;
}

/* Botão de Salvar */
.btn-save {
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    
    transition: 0.2s;
}

.btn-save:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(79,70,229,0.2);
}

/* ==================================== */
/* Seção de Extras - Ajudantes e Anexos */
.moreInformationSection {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.moreInformationSection > div > input {
    height: 40px;
}

.moreInformation > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Botões finais */
.bottonsForm {
    display: flex;
    gap: 50px;
    justify-content: center;
}

form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
    padding: 12px;
    border: none;
    background: #2a5298;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 20%;
}

form input[type="button"]:hover {
    background: #1b3057;
    transform: translateY(-2px);
}

form input[type="reset"]:hover {
    background: #e71b1b;
    transform: translateY(-2px);
}

form input[type="submit"]:hover {
    background: #20ac27;
    transform: translateY(-2px);
}
